
body {
    background-color: rgb(143, 107, 167);
}


h1 { 
    text-align: center;
}

.button {
    
    background-color: #d378ec;
    display: inline-block;
    width: 5%;
    min-height: 64px;
    text-align: center;
   
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-radius: 89px;
    margin: 11px;
    border-color: #38f738;
    width:200px; 
    height:200px; 


    position: absolute;
    top:50%;
    left:50%;
    margin-top: -100px;
    margin-left: -100px;
}